@using minimal_url_shortener.Shared.Models

<div class="flex flex-col justify-center items-center w-full">
<section class="container mx-auto">
  <div class="w-full mb-4 overflow-hidden rounded-lg shadow-lg">
    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <thead>
        <tr class="text-md font-semibold tracking-wide text-left bg-secondary">
          <th class="px-4 py-3">Url</th>
          <th class="px-4 py-3"></th>
        </tr>
        </thead>
        <tbody class="bg-white">
        <tr class="">
          <td class="px-4 py-3 border">
            <div class="flex items-center text-sm">
              <div class="">
                <a class="font-semibold text-black" href="@Model.ShortUrl">@Model.ShortUrl</a> <br />
                <a class="text-xs text-muted" href="@Model.LongUrl">@Model.LongUrl</a>
              </div>
            </div>
          </td>

          <td class="px-4 py-3 text-xs border">
            <button class="btn btn-ghost" onclick="copyText('@Model.ShortUrl');">
              <span class="material-icons">content_copy</span>
            </button>
          </td>
        </tr>
            
        </tbody>
      </table>
    </div>
  </div>
</section>
<button class="btn btn-outline btn-success"
         hx-get="/history?p=" hx-swap="innerHTML" hx-target="#urls">
  <span class="material-icons text-sm">keyboard_arrow_left</span>
  View All
</button>
</div>
@code
{
    [Parameter]
    public UrlModel Model { get; set; } = new();
}
